:root {
  /*------------------------------
Colors Variables
------------------------------*/
  --text-color: #374151;
  --pri-color: #5b20b6;
  --pri-change: #5b20b6;
  --sec-colors: #f9fafb;
	--box-color:white;
  --menu-color: rgb(55 65 81);
  --white: white;
  --black: #0f172a;
  --blue: rgb(29 78 216);
  --lightGray: #e9e9e9;
  --darkGray: #93a2b7;
	--footer-color:#e9e9e9;
}

:root.dark-theme {
  --text-color: #e9e9e9;
  --pri-color: #5b20b6;
  --pri-change: #e9e9e9;
  --sec-colors: #0f172a;
	--box-color:rgb(30 41 59);
  --menu-color: rgb(55 65 81);
  --white: #0f172a;
  --black: white;
  --blue: rgb(56 189 248);
  --lightGray: #e9e9e9;
  --darkGray: #93a2b7;
	--footer-color:rgb(30 41 59);
}

:root.dark-theme .light-mode,
:root.dark-theme .basket,
:root.dark-theme .login,
:root.dark-theme .menu__left a {
  color: var(--lightGray);
}

:root.dark-theme .menu {
  border-bottom: none;
  box-shadow: 0px 0px 22px -8px var(--lightGray);
  /* box-shadow: inset 0px -10px 23px -23px var(--lightGray) */
}

html {
  scroll-behavior: smooth;
  font-size: 62.5%;
  direction: rtl;
}

body {
  width: 100%;
  font-size: 1.6rem;
  line-height: 1.5;
  overflow-x: hidden;
  background-color: var(--sec-colors);
  font-family: vazir;
  user-select: none;
}

.container {
  /* width: 100%; */
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  margin-left: auto;
  margin-right: auto;
}

/*------------------------------
Reset - Start
------------------------------*/
a {
  text-decoration: none;
}

strong {
  font-weight: bold;
}
/*------------------------------
Reset - End
------------------------------*/

/*------------------------------
Helper Classes - Start
------------------------------*/

.h-full {
  height: 100%;
}
/*------------------------------
Helper Classes - End
------------------------------*/

/*------------------------------
Components - Start
------------------------------*/
.btn {
  width: 18rem;
  height: 5.2rem;
  font-size: 1.8rem;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 1rem;
  border: none;
  color: white;
  cursor: pointer;
  background-image: linear-gradient(
    333deg,
    rgb(43, 1, 121) 0%,
    rgb(43, 1, 121) 0%,
    rgb(121, 56, 242) 100%,
    rgb(121, 56, 242) 100%
  );
}
/*------------------------------
Components - End
------------------------------*/

/*------------------------------
					App - Start
------------------------------*/
.menu {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem;
  border-bottom: 1px solid var(--lightGray);
  background-color: var(--white);
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 2;
  box-sizing: border-box;
}

.menu__right {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.menu__right--logo {
  width: 2.5rem;
  margin-left: 3.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu__right--logo img {
  width: 100%;
}

.hamburger__menu {
  width: 5rem;
  height: 5rem;
  display: none;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin-left: 1rem;
}

.menu__line {
  position: relative;
  transition: all 100ms ease-in;
  width: 3rem;
  height: 0.4rem;
  border-radius: 1rem;
  background-color: var(--pri-change);
  transition: all 200ms ease-in;
}

.menu__line::before,
.menu__line::after {
  content: "";
  position: absolute;
  top: 1.2rem;
  width: 3rem;
  height: 0.4rem;
  border-radius: 1rem;
  background-color: var(--pri-change);
  transition: all 200ms ease-in;
}

.hamburger__menu--open .menu__line {
  background-color: transparent;
}

.hamburger__menu--open .menu__line::before {
  transform: translateY(-1.2rem) rotate(-45deg);
}

.hamburger__menu--open .menu__line::after {
  transform: translateY(1.2rem) rotate(45deg);
}

.menu__line::after {
  top: auto;
  bottom: 1.2rem;
}

.menu__right__items ul {
  display: flex;
  align-items: center;
}

.menu__right__items ul li {
  padding: 1rem 2rem;
}

.menu__right__items ul li a {
  color: var(--text-color);
  font-size: 1.4rem;
  font-weight: 500;
}

.menu__right__items ul li a:hover {
  color: var(--pri-color);
}

.menu__left {
  display: flex;
  align-items: center;
}

.light-mode,
.basket,
.login {
  width: 2.5rem;
  padding: 1rem;
  color: var(--pri-color);
}

.login-text {
  display: block;
  margin-left: 1rem;
}

.menu__left a {
  display: flex;
  color: var(--pri-color);
}

.menu__left a:nth-child(3) {
  display: flex;
  align-items: center;
  justify-content: center;
}

.light-mode:hover,
.basket:hover,
.login:hover {
  border-radius: 50%;
  background-color: var(--sec-colors);
}

.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 15rem 1.5rem 1rem;
  margin-bottom: 12rem;
}

.header__right {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header__right img {
  width: 100%;
}

.header__left {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.header__left h1 {
  font-size: 3rem;
  font-weight: bold;
  color: var(--black);
}

.header__left p {
  font-size: 2rem;
  font-weight: 500;
  color: var(--text-color);
  margin: 2rem 0;
}

.header__left a {
  color: rgb(29 78 216);
  font-size: 1.8rem;
  font-weight: bold;
}

.circle {
  background-color: var(--pri-change);
  border-radius: 50%;
  animation: circleAni 1s infinite;
  height: 1rem;
  width: 1rem;
  display: inline-block;
  margin-left: 1.5rem;
}

@keyframes circleAni {
  0% {
    box-shadow: 0 0 0 0 var(--pri-change);
  }

  70% {
    box-shadow: 0 0 0.2rem 0.7rem rgba(150, 35, 245, 0);
  }

  100% {
    box-shadow: 0 0 0 0 rgba(255, 82, 82, 0);
  }
}

.property {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  padding: 2rem 0 0 0;
  margin: 0 -1.5rem;
}

.box {
  text-align: center;
  height: 20rem;
  padding: 2rem;
  margin: 1.5rem;
  background-color: var(--box-color);
  border-radius: 1rem;
}

.box h3 {
	color: var(--black);
  height: 4rem;
  margin: 1rem 0;
  font-weight: 800;
  text-align: center;
}

.box p {
	color: var(--text-color);
  font-size: 1.5rem;
  line-height: 1.3;
  font-weight: 400;
  text-align: center;
}

.course__title {
	color: var(--text-color);
  font-size: 2.6rem;
  position: relative;
  text-align: center;
  font-weight: bold;
  margin: 6rem 0;
}

.course__title::before {
  content: "";
  width: 45rem;
  height: 1.8rem;
  position: absolute;
  top: 64%;
  background-color: var(--darkGray);
  z-index: -1;
}

.courses {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 2rem 0 0 0;
  margin: 0 -1.5rem 8rem;
}

.course {
  height: 55rem;
  border-radius: 0.5rem;
  margin: 1.5rem;
  background-color: var(--box-color);
  border-radius: 1rem;
  box-shadow: 0px 34px 60px -60px rgba(107, 101, 107, 1);
  overflow: hidden;
}

.course__img {
  width: 100%;
  height: 30rem;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.course__img img {
  width: 100%;
}

.course__detail {
  padding: 1rem 2rem;
}

.course h1 {
  height: 6rem;
}

.course h1 a {
  font-size: 2rem;
  margin-bottom: 1.5rem;
  font-weight: 500;
	color: var(--text-color);
}

.time {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 2rem 0 0.5rem 0;
}

.time span:first-child {
  display: flex;
}

.time span:first-child svg {
  fill: var(--pri-change);
}

.time span:last-child {
  color: rgb(153, 149, 149);
  margin-right: 1rem;
}

.course__show {
  font-size: 1.8rem;
  font-weight: 500;
  color: var(--pri-color);
  margin: 0.8rem 0 2.6rem 0;
  display: inline-block;
}

.left-arrow {
  width: 2rem;
  margin-right: 1rem;
  transition: margin-right 0.1s ease;
}

.left-arrow g {
  fill: var(--pri-change);
}

.course__show {
  display: flex;
  align-items: center;
	color: var(--blue);
}

.course__show:hover .left-arrow {
  margin-right: 2rem;
}

.course__show::after {
  content: url();
}

.course__buy {
  display: flex;
  justify-content: space-between;
  align-items: center;
	color: var(--text-color);
}

.course__buy .btn {
  width: 15rem;
  height: 4.5rem;
  margin-left: 1rem;
}

.front-end {
  display: flex;
  margin-bottom: 6rem;
}

.front-end__right {
  width: 35%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.front-end__right img {
  width: 90%;
}

.front-end__left {
	color:var(--darkGray);
  width: 65%;
  line-height: 2;
  text-align: justify;
}

.front-end__left h1 {
	color:var(--text-color);
  text-align: center;
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 2rem;
}

.front-end__left a {
  color: var(--blue);
  font-weight: bold;
}

.statistics {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin: 4rem -1rem 6rem;
}

.statistics div {
  margin: 1rem;
	border-radius: 0.5rem;
}

.statistics div:not(:first-child) {
  height: 7rem;
  display: flex;
  flex-direction: column;
  background-color: var(--box-color);
  padding: 1rem;
  text-align: center;
  margin-right: 1rem;
}

.statistics div:not(:first-child) span:first-child {
  font-size: 2rem;
  font-weight: bold;
}

.statistics div:not(:first-child) span:first-child {
  color: var(--black);
}

.statistics div:not(:first-child) span:last-child {
  color: var(--text-color);
}

.statistics div:first-child {
  display: flex;
  flex-direction: column;
}

.statistics div:first-child h3 {
	color:var(--text-color);
  font-size: 2.5rem;
  font-weight: bold;
}

.statistics div:first-child span {
	color:var(--darkGray);
}

.footer {
  padding: 3rem -1rem;
  background-color: var(--footer-color);
}

.footer .top {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-row: 1fr 1fr;
  margin: 1rem;
}

.footer .top div {
  margin: 1rem;
  justify-self: center;
}

.footer .top div:first-child {
  font-size: 1.5rem;
}

.footer .top div:last-child {
  text-align: center;
}

.footer .top div h3:first-child {
  color: var(--blue);
  font-weight: 500;
  margin-bottom: 2rem;
	text-align: center;
}

.footer .top div span:last-child {
  text-align: justify;
}

.footer .top div span {
  display: block;
  margin-bottom: 1rem;
  font-size: 2rem;
  font-weight: bold;
  color: var(--darkGray);
  text-align: center;
}

.footer .top div p {
  text-align: justify;
  color: var(--darkGray);
}

.footer .top div p a {
  color: var(--darkGray);
}

.a__social {
  color: var(--blue) !important;
}

.footer .top ul {
  padding-right: 1rem;
}

.footer .top ul li {
  position: relative;
  padding: 0.5rem 1.5rem 0.5rem 0;
}

.footer .top ul li a {
  color: var(--darkGray);
}

.footer .top ul li a:hover {
  color: var(--pri-color);
}

.footer .top ul li::before {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  content: "";
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 50%;
  background-color: var(--darkGray);
}

.bottom {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.social {
  width: 100%;
  height: 8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
}

.social svg {
  width: 3rem;
  height: 3rem;
  fill: var(--darkGray);
}

.instagram:hover svg {
  fill: #e1306c;
}

.linkedin:hover svg {
  fill: #0077b5;
}

.github:hover svg {
  fill: #333;
}

.twitter:hover svg {
  fill: #1da1f2;
}

.telegram:hover svg {
  fill: #0088cc;
}

.youtube:hover svg {
  fill: #ff0000;
}

.social div {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 2rem;
}

.social a {
  width: 4rem;
  height: 4rem;
  display: inline-block;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
}

.social a:hover {
  background-color: var(--text-color);
  border-radius: 50%;
}

.bottom p {
  text-align: center;
  margin: 1.4rem 0;
  color: var(--darkGray);
}

.cover {
  width: 100%;
  height: 100%;
  background-color: var(--black);
  position: fixed;
  top: 0;
  right: 0;
  z-index: -1;
  opacity: 0;
  transition: all 200ms ease-in;
}
/*------------------------------
Header - Start
------------------------------*/
